<div>
  <img src="/images/logo-vibra.png" alt="Logo Vibra">
</div>

<h2>Avaliação</h2>

<div style="border: 1px solid #ccc; padding: 15px; margin-bottom: 20px;">
  <img src="pizza.jpg" alt="Imagem de aula de culinária" width="100">
  <h4>Aula de Culinária</h4>
  <p>Cozinhe com chef local!</p>
  <span style="display: inline-block; border: 1px solid #ccc; padding: 5px 10px; margin-right: 5px;">Itália</span>
  <span style="display: inline-block; border: 1px solid #ccc; padding: 5px 10px;">Itália</span>
</div>

<!-- Avaliação com estrelas -->
<div>
  <p>⭐ ⭐ ⭐ ⭐ ☆</p>
</div>

<h3>Comentário</h3>
<div>
  <div style="border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
    <p>Aprender a fazer massas frescas no coração da Itália foi uma experiência inesquecível! Cada detalhe da aula
      conectou tradição, sabor e cultura de um jeito único. Imperdível para quem ama gastronomia!</p>
  </div>


  <div>
    <span>Recomendo</span>
    <span>Amei</span>
    <span>Incrível</span>
  </div>

  <button>confirmar</button>