 <!-- Logo -->
<div>
    <img src="/images/logo-vibra.png" alt="Logo Vibra">
</div>

<h2>Preferências</h2>
<div>
    <img src="/images/map.png" alt="Mapa países">
</div>

<h4>Selecione países que já visitou:</h4>
<div>
<div style="border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
  <label>
    <input type="checkbox" name="paises" value="Brasil">
    Brasil
  </label><br>

  <label>
    <input type="checkbox" name="paises" value="Espanha">
    Espanha
  </label><br>

  <label>
    <input type="checkbox" name="paises" value="Itália">
    Itália
  </label><br>

  <label>
    <input type="checkbox" name="paises" value="Grécia">
    Grécia
  </label>
</div>
<h3>Preferências</h3>
<h4>Interesse culturais:</h4>
    <div>
      <label>
        <input type="checkbox" name="interesses" value="gastronomiaTipica">
        <img src="/images/interesse1.jpg" alt="Gastronomia típica">
      </label>
      <label>
        <input type="checkbox" name="interesses" value="arteEArtesanato">
        <img src="/images/interesse2.jpg" alt="Arte e artesanato">
      </label>
      <label>
        <input type="checkbox" name="interesses" value="histtótia">
        <img src="/images/interesse3.jpg" alt="Passado e cultura">
      </label>
    </div>
<h4>Estilo de Viagem:</h4>
<div>
      <label>
        <input type="checkbox" name="interesses" value="gastronomiaTipica">
        <img src="/images/interesse1.jpg" alt="Aventura e natureza"> 
    </label>
      <label>
        <input type="checkbox" name="interesses" value="arteEArtesanato">
        <img src="/images/interesse2.jpg" alt="Urbana e cosmopolita">
      </label>
      <label>
        <input type="checkbox" name="interesses" value="histtótia">
        <img src="/images/interesse3.jpg" alt="Relaxamento e bem-estar">
      </label>
    </div>
<h4>Países que pretende viajar:</h4>
<div>
      <label>
        <input type="checkbox" name="interesses" value="gastronomiaTipica">
        <img src="/images/interesse1.jpg" alt="Brasil"> 
    </label>
      <label>
        <input type="checkbox" name="interesses" value="arteEArtesanato">
        <img src="/images/interesse2.jpg" alt="Espanha">
      </label>
      <label>
        <input type="checkbox" name="interesses" value="histtótia">
        <img src="/images/interesse3.jpg" alt="Estados Unidos">
      </label>
    </div>

    <button>Confirmar</button>