
<div>
  <img src="/images/map.png" alt="Mapa países">
</div>


<div>
  <div>Alemanha</div>
  <div>Brasil</div>
  <div>Coreia do Sul</div>

  <!-- País selecionado -->
  <div>
    <span>Espanha</span>
    <span></span> <!-- Representa o check -->
  </div>

  <div>Grécia</div>
  <div>Monaco</div>
</div>